body {
    /* background-color: #7595AE; */
    background-color: #f7f7f7;
    
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 12px;
    margin: 0;
    color: #444;
  }
  pre {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

  h1 {
    font-family: "Merriweather", serif;
    font-size: 32px;
  }
/* 
 .container{
    display: flex;    
}

.flex-item{
    flex-grow: 0;
} */

.table-title{
    font-size: 30px;
    margin-top: 40px;
}

#birthday-table-wrapper{
    margin-right: 40px;
}

.anchor{
    font-size: 14px;
}

 nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

/*table tr td {height:40px; border:1px solid red;} */
td {height:40px; border:1px solid black;}


#advancement-table-wrapper td, 
#advancement-table-wrapper th{
    font-size: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
}


#advancement-table-wrapper .F-class, 
#advancement-table-wrapper .M-class{
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    padding-top: 1px
    
}




.youth-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* float:left; */
}

/* th { white-space:pre } */

.youth-table td, .youth-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.youth-table tr:nth-child(even){background-color: #eeeeee;}


/* .youth-table tr:hover {background-color: #ddd;} */

.youth-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #557A95; */
    background-color: white;
    color: black;
}

.youth-table .row-header {
    white-space: nowrap;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #557A95; */
    background-color: white;
    
    color: black;
}

.youth-table .curr-row{
    background-color: #f7f7ad;
}



/* female div */
.F-class {
    background-color: rgb(236, 184, 193);
}


/* male div */
.M-class {
    background-color: rgb(150, 209, 227);
    /* color: white; */
}

.name{
    
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-top: 3px;
    padding-right: 5px;
    
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 125px;					
    height: 40px;					
    font: 12px sans-serif;		
    background: rgb(208, 210, 212);	
    border: 5px;	
    border-color: rgb(12, 6, 6);	
    border-radius: 5px;			
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;    
    border-style: solid;
    border-width: 1px;
}

